.header
{
    background: linear-gradient(to right, #1e3c72, #2a5298);
    display: flex;
    align-items: center;
    padding: 10px 40px;
    gap: 1.25rem;
    color: white;
    justify-content: center;
}

.header button{
    border: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    gap: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.modal-container
{
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}

.modal-container.show
{
    opacity: 1;
    pointer-events: auto;
}

.modal
{
    background: white;
    padding:40px;
    width: 400px;
    max-width: 100%;
    display: flex;
    border-radius: 20px;
}
form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
form .info
{
    display: flex;
    flex-direction: column;

}

form label{
    font-size: 24px;
}

form input
{
    width: 100%;
    height: 35px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Oswald", sans-serif;
}
form input:focus
{
    box-shadow: 0 0 6px #4a90e2;
    border-color: #4a90e2;
}

.button
{
    display: flex;
    justify-content: space-between;
}

.button button
{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
}


.displayWrapper
{
    display: flex;
    gap : 1.25rem;
    margin: 25px;
    flex-wrap: wrap;
    justify-content: center;
}


.displayWrapper .card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    flex-basis: 300px;
    
}